.dimention-card {
  max-width: 450px;
  margin-top: 10px;
  position: relative;
}

.position-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.mat-card-image {
  margin: auto;
  max-width: 170px
}

.text-search {
  margin-top: 5px;
  width: 83%;
  margin-top: 5px;
  margin-left: auto;
}
