table {
    width: 100%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
    padding: 15px;
  }

  .botonera{
    padding: 5px;
    float: left;
  }

  .mat-header-cell{
    text-align: center;

  }
