<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h2 mat-dialog-title>{{ titleModal }}</h2>
  </mat-toolbar-row>
</mat-toolbar>
<form [formGroup]="formGroupCrudCliente" class="example-form">
<mat-dialog-content>
  <mat-tab-group>
    <mat-tab label="Datos Cliente">
      <mat-grid-list cols="2" rowHeight="2:1">

        <input name="codigoCliente" formControlName="codigoCliente" type="hidden">

        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <input matInput name="numeroIdentificacion" formControlName="numeroIdentificacion"
            placeholder="Número de Identificación" type="text" id="textnumeroidentificacion">
            <mat-error>Ingrese el número de identificación.</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <input  matInput name="nombres" formControlName="nombres"
                    placeholder="Nombres" id="textnombres" >
             <mat-error>Ingrese el nombre.</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <input  matInput name="apellidos" formControlName="apellidos"
                    placeholder="Apellidos" id="textapellidos" >
            <mat-error>Ingrese los apellidos.</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <input matInput name="telefono" formControlName="telefono"
            placeholder="Telefono" id="textelefono" type="tel" >
            <mat-error>Ingrese el número de telefono.</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <input matInput name="correoElectronico" formControlName="correoElectronico"
            placeholder="Correo Electronico" id="textcorreoElectronico" type="email" >
            <mat-error>Ingrese el correo electronico.</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="example-full-width">
            <input matInput name="direccion" formControlName="direccion" placeholder="Dirección" id="texdireccion" >
            <mat-error>Ingrese la dierección.</mat-error>
          </mat-form-field>
        </mat-grid-tile>

    </mat-grid-list>
  </mat-tab>
</mat-tab-group>
</mat-dialog-content>
  <div class="row">
    <div class="col">
        <div mat-dialog-actions>
            <button mat-raised-button color="primary" (click)="cleanFormCliente()" >Nuevo</button>
        </div>
    </div>
    <div class="col">
        <div mat-dialog-actions>
            <button  mat-raised-button color="primary" (click)="guardarCliente()"
                    [disabled]="formGroupCrudCliente.invalid"> Guardar
            </button>
        </div>
    </div>
  </div>
</form>
